<div id="<%= dom_id card_reader %>">
  <p>
    <strong>Name library:</strong>
    <%= card_reader.name_library %>
  </p>

  <p>
    <strong>Name book:</strong>
    <%= card_reader.name_book %>
  </p>

  <p>
    <strong>Date taking book:</strong>
    <%= card_reader.date_taking_book %>
  </p>

</div>
