<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Descriprion:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Data release:</strong>
    <%= book.data_release %>
  </p>

</div>
